.change{
    color: lightblue;
    font-size: 100px;
    border: 10px solid black;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  border: 2px solid red;
  margin: 3px 0;
  background: rgba(243, 32, 32, 0.783);
  padding: 9px;
}
.bg-primary {
  background-color: rgb(220, 90, 39);
}
    